@charset "UTF-8";
:root {
  --temp-var: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

img {
  display: block;
  padding: 0;
}

.address__link, .our-client, .contacts__link, .site-logo, .site-navigation__link, .social-link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}
.address__link:hover, .our-client:hover, .contacts__link:hover, .site-logo:hover, .site-navigation__link:hover, .social-link:hover, .address__link:focus, .our-client:focus, .contacts__link:focus, .site-logo:focus, .site-navigation__link:focus, .social-link:focus {
  color: #2196f3;
}

.address__list, .page-footer__list, .our-clients__list, .our-team__list, .whot-do__list, .our-edge__list, .contacts, .site-navigation__list, .social-contacts {
  list-style: none;
}

.form-service_order__button-submit, .form-subscribe__button, .primary__button {
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.our-clients, .our-team, .whot-do, .our-edge {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .our-clients, .our-team, .whot-do, .our-edge {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal__title, .our-clients__title, .our-team__title, .whot-do__text, .whot-do__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Семантическое скрытие элементов */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.current {
  color: #2196f3;
}

.social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.social-contacts__item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.social-link:hover, .social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
.social-link--theme-dark {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-link--round {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.social-link:hover, .social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
.social-link--theme-dark {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-link--round {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .page-header__container {
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__site-logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-header__site-logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .page-header__link.contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__link.contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-header__social-contacts {
  display: none;
}
@media screen and (max-width: 767px) {
  .page-header__social-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.page-header__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.page-header__items:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.page-header__social-link {
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
}
.page-header__social-link:hover, .page-header__social-link:focus {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .site-navigation {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .site-navigation__list {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .site-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 90px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-navigation__list {
    margin-left: 95px;
  }
}

.site-navigation__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .site-navigation__item {
    margin-bottom: 32px;
  }
  .site-navigation__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .site-navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-navigation__link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .site-navigation__link {
    font-size: 40px;
    line-height: 1.175;
  }
}
@media screen and (min-width: 768px) {
  .site-navigation__link {
    font-size: 14px;
    line-height: 1.143;
  }
  .site-navigation__link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.site-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  color: #2196f3;
}
.site-logo--dark {
  color: #000000;
}
.site-logo--light {
  color: #ffffff;
}

.contacts-thumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 767px) {
  .contacts-thumb {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    margin-top: auto;
    margin-bottom: 65px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

.contacts__item {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
}
@media screen and (max-width: 767px) {
  .contacts__item {
    font-size: 24px;
    line-height: 1.167;
  }
  .contacts__item:last-child {
    font-size: 34px;
    line-height: 1.176;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}
.contacts__icon--envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--envelope {
    width: 16px;
    height: 12px;
  }
}
.contacts__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

.menu-button {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 0;
  z-index: 100;
}
.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}
.menu-button .icon-close {
  display: none;
}
.menu-button--is-open .icon-close {
  display: block;
}
.menu-button--is-open .icon-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-button {
    display: block;
  }
}

.menu-container {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 100vw;
    height: 95vh;
    background-color: #ffffff;
  }
  .menu-container--is-open {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.primary {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #C4C4C4;
}

.primary__container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.primary__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.primary__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.our-edge__icon-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.our-edge__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .our-edge__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    /* gap: var(--margin-set-gap); */
  }
}

@media screen and (max-width: 767px) {
  .our-edge__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-edge__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-edge__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.our-edge__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: inherit;
  line-height: 1.142;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .our-edge__title {
    text-align: center;
  }
}

.our-edge__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.714;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .whot-do {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .whot-do {
    padding-top: 0;
  }
}

.whot-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* .whot-do__item {
  --count-inline: 3;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  flex-basis: calc((100% - (var(--count-inline) - 2) * var(--margin-set-gap))/var(--count-inline))
}

.whot-do__item:not(:first-child) {
  margin-left: var(--margin-set-gap);
} */
.whot-do__thumb {
  position: relative;
}

.whot-do__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 100%;
  height: 70px;
  font-size: inherit;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  /* gap: var(--margin-set-gap); */
}
@media screen and (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.our-team__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team-member__photo {
  min-width: 100%;
}

.team-member__description {
  padding: 30px 32px;
}

.team-member__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
}

.team-member__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: #757575;
}

.our-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.our-clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .our-clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .our-clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.our-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
}
.our-client:hover, .our-client:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .page-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.page-footer__site-logo {
  margin-bottom: 20px;
}

.page-footer__item {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .page-footer__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__item:not(:last-child) {
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__item:not(:last-child) {
    margin-bottom: 0;
  }
  .page-footer__item:not(:first-child) {
    margin-left: 70px;
  }
  .page-footer__item:last-child {
    margin-left: 93px;
  }
}

.page-footer__uppertitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .page-footer__uppertitle {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__uppertitle {
    padding-top: 12px;
  }
}

.address__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.address__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  color: #ffffff;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.form-subscribe__label {
  display: block;
  height: 50px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .form-subscribe__label {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__label {
    width: 360px;
    margin-bottom: 0;
  }
}

.form-subscribe__input {
  width: 100%;
  height: 100%;
  padding: 15px 16px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.form-subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  width: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  fill: #ffffff;
  background-size: contain;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__button:hover, .form-subscribe__button:focus {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .form-subscribe__button {
    margin-left: 12px;
  }
}

.form-subscribe__icon {
  margin-left: 10px;
  background-size: cover;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .backdrop {
    margin: 94px 15px;
  }
}

/* animation */
@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    border-radius: 0;
  }
  to {
    -webkit-transform: translate(300%, -100%) scale(0.4);
            transform: translate(300%, -100%) scale(0.4);
    opacity: 0.7;
    border-radius: 70%;
    background: #000000;
  }
}
@keyframes fadeOut {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    border-radius: 0;
  }
  to {
    -webkit-transform: translate(300%, -100%) scale(0.4);
            transform: translate(300%, -100%) scale(0.4);
    opacity: 0.7;
    border-radius: 70%;
    background: #000000;
  }
}
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translate(-300%, -100%) scale(0.4);
            transform: translate(-300%, -100%) scale(0.4);
    opacity: 0.7;
    border-radius: 70%;
    background: #000000;
  }
  80% {
    -webkit-transform: translate(-100%, -50%) scale(0.7);
            transform: translate(-100%, -50%) scale(0.7);
    opacity: 0.7;
    border-radius: 30%;
    background: #ffffff;
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    border-radius: 0;
  }
}
@keyframes fadeIn {
  from {
    -webkit-transform: translate(-300%, -100%) scale(0.4);
            transform: translate(-300%, -100%) scale(0.4);
    opacity: 0.7;
    border-radius: 70%;
    background: #000000;
  }
  80% {
    -webkit-transform: translate(-100%, -50%) scale(0.7);
            transform: translate(-100%, -50%) scale(0.7);
    opacity: 0.7;
    border-radius: 30%;
    background: #ffffff;
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    border-radius: 0;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  overflow-y: scroll;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation: fadeIn 350ms ease-in;
          animation: fadeIn 350ms ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (max-width: 767px) {
  .modal {
    width: 530px;
    height: 580px;
  }
}
.backdrop--is-hidden .modal {
  -webkit-animation: fadeOut 350ms ease-out;
          animation: fadeOut 350ms ease-out;
}

.modal__button {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--main-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--main-transition-duration) var(--main-transition-timing-function);
  transition: fill var(--main-transition-duration) var(--main-transition-timing-function);
  cursor: pointer;
}
.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}
.modal__button--close {
  top: 8px;
  right: 8px;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}

.form-service_order--centered {
  text-align: center;
  margin-top: 20px;
}
.form-service_order--concord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.formfield-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  fill: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}
.formfield-label.form-service_order__label--concord {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
}

.formfield-input-wrap {
  position: relative;
  margin-top: 5px;
  margin-bottom: 0;
  height: 40px;
}

.formfield-input-wrap__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.formfield-input:not(:-moz-placeholder-shown) + .formfield-input-wrap__icon, .formfield-textarea:not(:-moz-placeholder-shown) + .formfield-input-wrap__icon {
  fill: #2196f3;
}
.formfield-input:not(:-ms-input-placeholder) + .formfield-input-wrap__icon, .formfield-textarea:not(:-ms-input-placeholder) + .formfield-input-wrap__icon {
  fill: #2196f3;
}
.formfield-input:hover + .formfield-input-wrap__icon, .formfield-textarea:hover + .formfield-input-wrap__icon, .formfield-input:focus + .formfield-input-wrap__icon, .formfield-textarea:focus + .formfield-input-wrap__icon, .formfield-input:not(:placeholder-shown) + .formfield-input-wrap__icon, .formfield-textarea:not(:placeholder-shown) + .formfield-input-wrap__icon {
  fill: #2196f3;
}

.formfield-input, .formfield-textarea {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
}
.formfield-input:hover, .formfield-textarea:hover, .formfield-input:focus, .formfield-textarea:focus {
  border-color: #2196f3;
}

.formfield-textarea {
  display: block;
  margin-top: 5px;
  padding: 12px 16px;
  resize: none;
}
.formfield-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.formfield-textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.formfield-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.formfield-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.formfield-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.formfield-checkbox {
  color: #757575;
  line-height: 1.714;
  letter-spacing: 0.03em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formfield-checkbox:hover, .formfield-checkbox:focus {
  border-color: #2196f3;
}

.formfield-checkbox-icon {
  display: block;
  content: "";
  margin: 0;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
}
.formfield-checkbox:hover + .formfield-checkbox-icon, .formfield-checkbox:focus + .formfield-checkbox-icon {
  border-color: #2196f3;
}
.formfield-checkbox:checked + .formfield-checkbox-icon {
  display: block;
  background-color: #2196f3;
  border-color: #2196f3;
  /* background-image: url(../images/check-on.svg); */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3e%3ctitle%3echeck-on%3c/title%3e%3cpath fill='%23fff' d='M8.623 16.454l-0.124-0.119-0.124 0.117-1.735 1.645 0.137 0.131 6.417 6.12 0.124-0.119 13.644-13.016-0.137-0.13-1.712-1.633-0.124 0.119-11.795 11.243-4.57-4.36z'%3e%3c/path%3e%3c/svg%3e");
  background-size: contain;
  background-origin: border-box;
}

.formfield-checkbox-link {
  margin-left: 5px;
  text-decoration: underline;
  color: #2196f3;
}

.form-service_order__button-submit {
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-service_order__button-submit:hover, .form-service_order__button-submit:focus {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */