.address__list {
  @extend %list;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.address__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;

  color: $main-light-color;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  @extend %link;
  
  color: $main-light-alfa-color; 
}