.contacts {
  @extend %list;

  // display: flex;
  // align-items: center;

  // margin-top: 0px;
  // margin-bottom: 0px;

  // padding-left: 0px;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 32px;

    margin: 0;
    padding-left: 0;
  }
}


.contacts-thumb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contacts__item {
  //margin-right: 50px;

  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  @media screen and (max-width: calc($tablet - 1px)) {
    font-size: 24px;
    line-height: 1.167;

    &:last-child {
      font-size: 34px;
      line-height: 1.176;
    }
  }

  color: $primary-light-color;
  fill: $primary-light-color;

  // &:last-child {
  //   margin-right: 0;
  // }
}

.contacts__link {
  @extend %link;
  // display: inline-flex;

  // padding-top: 32px;
  // padding-bottom: 32px;


  &:hover,
  &:focus {
    color: $accent-light-color;
    fill: $accent-light-color;
  }
}

.contacts__icon {
  margin-right: 10px;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }
}