.contacts {
  @extend %list;

  display: flex;
  align-items: center;

  margin-top: 0px;
  margin-bottom: 0px;

  padding-left: 0px;
}

.contacts__item {
  margin-right: 50px;

  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: $primary-light-color;
  fill: $primary-light-color;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  @extend %link;
  display: inline-flex;

  // padding-top: 32px;
  // padding-bottom: 32px;


  &:hover,
  &:focus {
    color: $accent-light-color;
    fill: $accent-light-color;
  }
}

.contacts__icon {
  margin-right: 10px;
}