.social-contacts {
  @extend %list;

  display: flex;
  flex-basis: content;
  justify-content: center;

  padding-left: 0;
}

.social-contacts__item{
  
  &:not(:first-child) {
    margin-left: 10px;
  }
}

@import './social-link'

