.our-team {
  @extend %section;

  background-color: $background-light-color;
}

.our-team__title {
  @extend %title;
}

.our-team__list {
  @extend %list;

  display: flex;
  /* gap: var(--margin-set-gap); */

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.our-team__item {
  $count-inline: 4;
  flex-basis: calc((100% - ($count-inline - 1) * $margin-set-gap) / $count-inline);

  background-color: $main-light-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;


  &:not(:first-child) {
    margin-left: $margin-set-gap;
  }
}

@import './parts/team-member';
