.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-dark-color;
}

.page-footer__list {
  @extend %list;

  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    justify-content: space-around;
  }
}

.page-footer__site-logo {
  margin-bottom: 20px;
}

.page-footer__item {
  text-align: center;

  @media screen and (max-width: calc($tablet - 1px)) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: $tablet) { 
    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }
  
  @media screen and (min-width: $desktop) {
    text-align: unset;
    
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-left: 70px;
    }

    &:last-child {
      margin-left: 93px;
    }
  }

  // desktop
  // &:not(:first-child) {
  //   margin-left: 70px;
  // }

  // &:last-child {
  //   margin-left: 93px;
  // }
}

.page-footer__uppertitle {
  margin-top: 0;
  margin-bottom: 20px;

  // desktop
  // padding-top: 12px;

  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;

  color: $main-light-color;

  @media screen and (min-width: $tablet) {
    padding-top: 5px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 12px;
  }

}

// .page-footer__social-link{

//   &:hover,
//   &:focus {
//     background-color: $accent-light-color;
//   }
// }

@import './contact/address';

// @import './contact/social-contacts';
// @import './contact/social-link';

@import './form/form-subscribe';

