.page-header {
  position: relative;

  // @media screen and (min-width: $tablet){
    $color-header-border: #ECECEC;
    border-bottom: 1px solid $color-header-border;
  // }
}

.page-header__container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  
  @media screen and (max-width: calc($tablet - 1px)) {
    max-width: 100%;
    justify-content: space-between;
  }

}

.page-header__site-logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
   padding-top: 10px;
   padding-bottom: 10px;
  }
}

.page-header__link {
  
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    &.contacts__link {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  @media screen and (min-width: $desktop) {
     &.contacts__link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.page-header__social-contacts{
  display: none;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
  }
}

.page-header__items{
  display: inline-flex;
  // &:not(:first-child) {
  //   margin-left: 20px;
  // }
  &:not(:last-child)::after {
    content: "";
    border: 1px solid rgba(33,33,33,.2);
    margin-left: 10px;
  }

}

.page-header__social-link {
  
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;

  color: $accent-light-color;

  &:hover,
  &:focus {
    background-color: transparent
  }
}

@import './parts/navigation';
@import './parts/logo';
@import './contact/contacts';

.menu-button {
  display: none;

  margin: 0;
  padding: 0;

  background-color: $main-light-color;

  border: 0;

  z-index: 100;

  &:hover,
  &:focus {
    fill: $accent-light-color;
  }

  & .icon-close {
    display: none;
  }

  &--is-open .icon-close {
    display: block;
  }

  &--is-open .icon-menu {
    display: none;
  }
  
  @media screen and (max-width: calc($tablet - 1px)) {
    display: block;
  }
}

.menu-container {
  display: none;

  z-index: 10;

  @media screen and (max-width: calc($tablet - 1px)) {
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;

    padding: 48px 40px;
    width: 100vw;
    height: 100vh;

    background-color: $main-light-color;

    // outline:  1px solid orangered;

    &--is-open {
      display: inline-flex;
      align-items: flex-start;

      overflow-y: scroll;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}