.whot-do {
  @extend %section;

  display: none;
}

.whot-do__list {
  @extend %list;

  display: flex;
  gap: $margin-set-gap;

  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;
}

/* .whot-do__item {
  --count-inline: 3;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  flex-basis: calc((100% - (var(--count-inline) - 2) * var(--margin-set-gap))/var(--count-inline))
}

.whot-do__item:not(:first-child) {
  margin-left: var(--margin-set-gap);
} */

.whot-do__thumb {
  position: relative;
}

.whot-do__title{
  @extend %title
}

.whot-do__text {
  @extend %title;
  
  position: absolute;
  left: 0;
  bottom: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  width: 100%;
  height: 70px;

  font-size: inherit;
  line-height: 1.143;
  text-transform: uppercase;

  color: $main-light-color;
  background: rgba(47, 48, 58, 0.8);
}