.form-service_order{

  &--centered {
    text-align: center;
    margin-top: 20px;
  }

  &--concord {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
  }
}

.form-field {
  display: inline-flex;
  align-items: center;

  margin: 0;
}

.formfield-label {
  display: block;
  margin-bottom: 10px;
  
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: $primary-light-color;
  fill: $primary-dark-color;

  transition: $main-transition-duration $main-transition-timing-function;
  transition-property: color, fill;

  // white-space: nowrap;

  &.form-service_order__label--concord {
    display: inline-flex;

    margin: 0;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
    }
  }
}

.formfield-input-wrap {
  position: relative;
  margin-top: 5px;
  margin-bottom: 0;

  height: 40px;
}

.formfield-input-wrap__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: $main-transition-duration $main-transition-timing-function;
  transition-property: fill;

  .formfield-input:hover + &,
  .formfield-input:focus + &,
  .formfield-input:not(:placeholder-shown) + & {
    fill: $accent-light-color;
  }
}

.formfield-input {
  width: 100%;
  height: 100%;

  padding-left: 42px;

  line-height: 1.167;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: $main-transition-duration $main-transition-timing-function;
  transition-property: color, border-color;

  &:hover,
  &:focus {
    border-color: $accent-light-color;
  }
}

.formfield-textarea {
  @extend .formfield-input;
  
  display: block;
  margin-top: 5px;
  padding: 12px 16px;

  resize: none;
  
  font-size: 14px;
  line-height: 1.714;
  
  @media screen and (min-width: $desktop) {
    font-size: 12px;
    line-height: 1.167;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

// .formfield-input:hover .formfield__icon,
// .formfield-input:focus .formfield__icon,
// .formfield-input:not(:placeholder-shown) .formfield__icon {
//   fill: $accent-light-color;
// }

.formfield-checkbox {
  color: $primary-light-color;

  transition: border-color $main-transition-duration $main-transition-timing-function;

  &:hover,
  &:focus {
    border-color: $accent-light-color;
  }
}

.formfield-checkbox-icon {
  display: block;
  content: '';
  margin: 0;
  margin-right: 5px;

  width: 16px;
  height: 15px;

  border: 2px solid #000000;
  border-radius: 2px;

  .formfield-checkbox:hover + &,
  .formfield-checkbox:focus + & {
    border-color: $accent-light-color;
  }

  .formfield-checkbox:checked + & {
    display: block;
  
    background-color: $accent-light-color;
    border-color: $accent-light-color;
    /* background-image: url(../images/check-on.svg); */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3e%3ctitle%3echeck-on%3c/title%3e%3cpath fill='%23fff' d='M8.623 16.454l-0.124-0.119-0.124 0.117-1.735 1.645 0.137 0.131 6.417 6.12 0.124-0.119 13.644-13.016-0.137-0.13-1.712-1.633-0.124 0.119-11.795 11.243-4.57-4.36z'%3e%3c/path%3e%3c/svg%3e");
    background-size: contain;
    background-origin: border-box;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 3px;
  }
}

.formfield-checkbox-link {
  margin-left: 5px;

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  text-decoration: underline;

  color: $accent-light-color;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

// .formfield-checkbox:hover .formfield-checkbox-icon,
// .formfield-checkbox:focus .formfield-checkbox-icon {
//   border-color: $accent-light-color;
// }

.form-service_order__button-submit{
  @extend %button;

  padding: 10px 55px;

  width: 200px;
  height: 50px;

  text-align: center;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  fill: $main-light-color;

  transition: background-color $main-transition-duration $main-transition-timing-function;

  &:hover,
  &:focus {
    background-color: #188CE8;
  }
}