%link {
  text-decoration: none;

  color: inherit;

  transition: $main-transition-duration $main-transition-timing-function;
  transition-property: color, fill;

  &:hover,
  &:focus {
    color: $accent-light-color;
  }
}  

%list {
  list-style: none;
}

%button {
  color: $main-light-color;
  background-color: $accent-light-color;

  border: none;
  border-radius: 4px;
  border-color: transparent;

  cursor: pointer;
}

%section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

%title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  // font-size: 36px;
  font-size: 28px;
  // line-height: 1.167;
  line-height: 1.178;
  text-align: center;
}