
// font
$main-font: "Roboto",sans-serif;

// color
$background-dark-color: #2f303a;
$background-light-color: #f5f4fa;
$primary-dark-color: #212121;
$primary-light-color: #757575;
$accent-light-color: #2196f3;
$accent-light-alfa-color: rgb(33, 150, 243, 0.9);
$accent-dark-color: #000000;
$main-light-color: #ffffff;
$main-light-alfa-color: rgba(255, 255, 255, 0.6);
$accent-link-color :#afb1b8;

// for grid
$margin-set-gap: 30px;

// transition
$main-transition-duration: 250ms;
$main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);