.site-logo {
  @extend %link;

  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
 
  font-size: 24px;
  line-height: 1.167;
  // desktop
  // font-size: 26px;
  // line-height: 1.192;

  color: $accent-light-color;

  &--dark {
    color: $accent-dark-color;
  }

  &--light {
    color: $main-light-color;
  }
}