.work__thumb {
  position: relative;
  overflow: hidden;
}

.work__overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  margin-top: 0;
  margin-bottom: 0;
  

  font-size: 18px;
  line-height: 1.56;

  color: $main-light-color;
  background-color: $accent-light-alfa-color;

  transform: translateY(0);
  transition: transform $main-transition-duration $main-transition-timing-function;

  .works-list__item:hover &,
  .works-list__item:focus & {
    transform: translateY(-100%);
  }

  @media screen and (max-width: calc($tablet - 1px)) {
    padding: 77px 24px;
  }

  @media screen and (min-width: $tablet) {
    padding: 49px 24px;
  }

  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
    
  }
}

.work__preview{
  min-width: 100%;
}

.work__description {
  $border-color: #EEEEEE; 

  padding: 20px 24px;

  min-width: 370px;

  border: 1px solid $border-color;
}

.work__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;

  white-space: nowrap;
  // overflow: hidden;
  //text-overflow: ellipsis;
}

.work__type {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;

  color: $primary-light-color;
}