.no-scroll {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  // width: 1200px;

  @media screen and (max-width: $mobile) {
    max-width: $mobile;
  }

}

// .section {
//   @extend %section;
// }

// .title {
//   @extend %title;
//}

/* Семантическое скрытие элементов */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.current {
    color: $accent-light-color;
}